body {
	background: #eee;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a:link,
a:visited {
	color: #0077ff;
	text-decoration: underline;
}
a:hover,
a:active {
	color: #000;
}

h1 {
	font-size: 1.6em;
	margin: 15px 0;
}
h2 {
	font-size: 1.3em;
	margin: 15px 0;
}
h3 {
	font-size: 1.1em;
	margin: 10px 0;
}

.icon-cut,
.icon-add,
.icon-edit,
.icon-delete {
	background-position: left 0;
	background-repeat: no-repeat;
	padding: 0 0 4px 20px;
}
.icon-add {
	background-image: url(../images/er/add.png) !important;
}
.icon-edit {
	background-image: url(../images/er/wrench.png) !important;
}
.icon-delete {
	background-image: url(../images/er/delete.png) !important;
}
.icon-cut {
	background-image: url(../images/er/cut.png) !important;
}

/* IE6 fixes */
.clearfix {
	height: 1%;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a.button {
	font-family: "Lucida Grande", Helvetica, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	padding: 6px 12px 4px !important;
}

a.button,
button {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);

	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));

	font-weight: bold;
	padding:5px 10px 3px;
}
a.button:hover,
button:hover {
	background:rgba(240,240,240,1);
}
a.button:active, a.button:focus,
button:active, button:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}
button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}
button.add {
	/* background: url(../images/er/add.png) no-repeat 4px center;
	padding-left: 25px; */
}

/* Flash and Error Messages */

#error_explanation,
#flash_alert,
#flash_error,
#flash_notice {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 10px 0;
	padding: 10px 10px 5px 40px;
	width: 400px;
}

#error_explanation,
#flash_error,
#flash_alert {
	background: #FFD6D6 url(../images/er/cancel.png) no-repeat 10px 8px;
	border: 1px solid #FF8080;
	color: #E3302C;
}
#flash_notice {
	background: #D4F5A3 url(../images/er/accept.png) no-repeat 10px 8px;
	border: 1px solid #6EB800;
	color: #508600;
}

#content #error_explanation {
	margin-bottom: 15px;
	width: auto;
}
#content #error_explanation h2 {
	color: #E3302C;
	font-size: 14px;
	margin: 0 0 5px;
}
#content div.field_with_errors label {
	color: #E3302C;
}
#content div.field_with_errors input {
	border-color: #FF8080;
	background-color: #FFD6D6;
}



#wrapper {
	margin: 20px 50px;
}

/* Header */

#header {
	height: 25px;
}
#header .logo {
	color: #0099ff;
	float: left;
	font-size: 1.5em;
	padding-left: 15px;
	position: relative;
	top: -5px;
}
#header .preview,
#header .user-logout {
	background: url(../images/er/user.png) no-repeat left top;
	float: right;
	font-size: 0.9em;
	height: 16px;
	margin-top: 3px;
	padding: 4px 20px 0;
}
#header .preview {
	background-image: url(../images/er/zoom.png);
}


/* Navigation */
nav {
	background-color: #ddd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999');
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
	background: -moz-linear-gradient(top,  #ccc,  #999);
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	padding: 2px 5px;
}
nav ul {
	height: 30px;
	margin-left: 0;
	padding-right: 5px;
}
nav li {
	float: left;
	margin: 0 15px 0 10px;
	padding-top: 10px;
}
nav li a:link,
nav li a:visited {
	color: #444;
	text-decoration: none;
	text-shadow:1px 1px 0px rgba(210,210,210,0.8);
}
nav li a:hover,
nav li a:active {
	color: #000;
	text-decoration: underline;
}
nav div {
	padding-right: 5px;
}

/* Content */

#content {
	padding: 10px;
}
#content a.back-link {
	font-size: 11px;
	position: relative;
	top: -10px;
}
#content p {
	/* font-size: 12px; */
}
#content th,
#content td {
	font-size: 14px;
}
/*
#content table {
	margin-top: 10px;
}
#content th,
#content td {
	font-size: 14px;
	line-height: 18px;
	padding-right: 25px;
}
#content th {
	padding-bottom: 5px;
}
*/
#content .mceEditor table {
	margin: 0;
}
#content .mceEditor th,
#content .mceEditor td {
	padding: 0;
}

#content p.new-link {
	margin-top: 20px;
}
#content p.new-link a {
	background: url(../images/er/add.png) no-repeat left top;
	font-size: 14px;
	padding-left: 20px;
}

#content .section-list {
	border: 1px solid #000;
	margin-bottom: 15px;
	padding: 10px;
	width: 300px;
}
#content .section-list li {
	font-size: 13px;
	margin-bottom: 5px;
}
#content .section-list ul {
	margin-left: 30px;
	margin-top: 10px;
}
#content .section-list ul li {
	margin-bottom: 5px;
}

#content .overview-search {
	margin-top: 25px;
}

#content .overview-table {
	/* border: 1px solid #ccc; */
	/* margin-top: 25px; */
	border-bottom: 1px solid #000;
}
#content .overview-table th {
	background-color: #eee;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	cursor: pointer;
	font-weight: bold;
	padding-top: 5px;
}
#content .overview-table td {
	padding-top: 5px;
	vertical-align: top;
}
#content .overview-table td.preview,
#content .overview-table td.delete {
	text-align: center;
}
#content .dataTables_info {
	margin-top: 20px;
}
#content table th span {
	font-weight: bold;
	padding-right: 20px;
}
#content div.box {
	padding: 10px;
}

/* Tables */

table th {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999999');
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
	background: -moz-linear-gradient(top,  #ccc,  #999);
}
table th,
table td {
	border: 1px solid #bbb;
	padding: 5px 10px;
}


/* Forms */

div.box,
form {
	background-color: #ddd;
	border: 1px solid #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 10px 0;
}

div.field {
	border-bottom: 1px solid #bbb;
	padding: 10px;
	padding-left: 200px;
	position: relative;
}
div.field label {
	position: absolute;
	font-weight: bold;
	margin-top: 5px;
	left: 10px;
	top: 10px;
	width: 200px;
}
div.field select option {
	font-size: 1em;
}
div.field select,
div.field textarea,
div.field input {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: 1px solid #999;
	margin-right: 5px;
	padding: 7px 7px 4px;
}
div.field select {
	padding: .5em .3em .3em;
}
div.field input[type=text] {
	width: 96%;
}
div.field textarea {
	width: 800px
}
div.field i {
	color: #666;
	display: inline-block;
	margin-top: 8px;
}
div.actions {
	margin-left: 190px;
	padding: 10px;
}


/* Footer */

div.footer {
	clear: both;
	margin-top: 35px;
	padding-left: 10px;
}
 
