
<%= link_to "Add Item", { :controller => 'models', :action => :new, :modelname => @modelname }, :class => "button" %>

<ul>
<% @elements.each do |element|	 %>
	<li>
	<% 
		@model.column_names.each do |cname| 
			if cname == "id" || cname == "title" || cname == "name"
	%>
		<%= link_to element[cname], { :controller => 'models', :action => :edit, :id => element.id } %>
	<%  end 
		end %>
	</li>
<% end %>
</ul>
