<%= form_for @element, {:controller => 'engine_room/models', :action => 'create', :modelname => @modelname} do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	
 	<% @model.columns.each do |column| %>
		<div class="field">
			<%= f.label column.name, @model.human_attribute_name(column.name) %>
			<%= get_form_field_for_column(f, @element, column) %>
		</div>
	<% end %>
	
  <div class="actions">
		<button type="submit">Create</button>
  </div>
<% end %>