<div class="box">
	<table>
		<tr>
			<th>Section</th>
			<th>Sort Order</th>
		</tr>
	<% @sections.each do |section| %>
		<tr>
			<td><%= link_to section.name, { :controller => 'models', :action => :index, :modelname => section.model_name }%></td>
			<td><%= section.sort_order %></td>
		</tr>
	<% end %>
	</table>
</div>