<div class="box">
	<table>
		<tr>
			<th>Section</th>
			<th>Columns</th>
		</tr>
	<% @models.each do |model| %>
		<tr>
			<td><%= link_to model, { :controller => 'models', :action => :index, :modelname => model }%></td>
			<td><%= model.column_names %></td>
		</tr>
	<% end %>
	</table>
</div>