<%= render 'shared/error_messages', :object => @element %>

<%= form_for @element, :url => {:controller => 'engine_room/content', :section_name => @section.name, :action => @element.id ? :update : :create, :bt_section => params[:bt_section], :bt_id => params[:bt_id]}, :html => {:multipart => true} do |f| %>

  <% @section.detail_fields.each do |field| %>
   <%= field_to_form(field, @element, f) %>
  <% end %>

  <div class="actions">
    <button type="submit"><%= @element.id ? "Update" : "Create" %></button>
  </div>

<% end %>
